<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
  	<h1> Voici la liste de tous les potins!!!!</h1>
  	<br>
    <% gossips.each do |gossip| %>
      <p>
        <%= gossip.author %> 
        :
        "<%= gossip.content %>"
      </p>
   <% end %>
  </body>
</html>