<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Gossip Project</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  	<div class="header">
     <h1 style="text-transform: uppercase; text-align: center;">Bienvenue sur la plus grande application de potins au monde!!!
     </h1>
    <img src="/blablabla.jpeg" class="img-fluid" alt="Responsive image">
    </div>
  <%= yield %>
  </body>
</html>