<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
  	<h1> PAGE POTIN </h1>
  	<br>
    <% gossip %>
      <p> Voici la page du potin n°<%= id %> </p>
      <p>Son auteur: <%= gossip.author %></p>
      <p>Le contenu du potin: <%= gossip.content %></p>
      <br>
      <p> 
        <a href="/gossips/<%=id%>/edit"> Editer le potin </a>
      </p>
      <p> 
       <a href="http://localhost:4567"> Lien vers la page de tous les potins</a>
      </p>

  </body>
</html>